/* src/paginas/Nosotros.css */
.contenedor-nosotros {
  padding: 0px 10% 40px 10%;
  display: flex;
  gap: 50px;
  align-items: center;
}

.texto-nosotros {
  flex: 1; /* Ocupa la mitad del espacio */
}

.texto-nosotros h2 {
  
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.texto-nosotros p {
  font-size: 1.1rem;
  color: #444;
  text-align: center;
}

.imagen-nosotros {
  
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}
/* Para que en el celular se vea una cosa debajo de la otra */
@media (max-width: 768px) {
  .contenedor-nosotros {
    flex-direction: column;
    padding: 40px 5%;
    text-align: center;
  }
}