
:root {
  /* Color Principal: Rojo Ladrillo */
  --primary-color: #cb4335; 
  --primary-hover: #a93226;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* Colores de apoyo */
  --text-dark: #0d1b3e;
  --text-gray: #666;
  --bg-light: #daa22a;
  --border-radius: 12px;
}

body {
  margin: 0;
  background-color: var(--blanco);
  color: var(--gris-oscuro);
}

a {
  text-decoration: none;
  color: inherit;
}
h1{
  text-transform: uppercase;
}
/* Estilo Base de Botón */
.btn {
  display: inline-block;
  padding: 14px 32px;
  border-radius: var(--border-radius);
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  text-align: center;
}

/* Botón Primario (Lleno) */
.btn-primary {
  background-color: var(--primary-color);
  color: #ffffff;
}

.btn-primary:hover {
  background-color: var(--primary-hover);
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(220, 215, 215, 0.3); /* Sombra sutil del mismo color */
}

/* Botón Secundario (Ghost/Borde) */
.btn-secondary {
  background-color: transparent;
  
  border: 1px solid #ffffff;
}

.btn-secondary:hover {
  background-color: #ffffff;
  border-color: var(--primary-color);
  color: var(--primary-color);
}
